
  <div class="main-window">
  <p>⋇⊶⊰♛⊱⊷⋇ ⋇⊶⊰♛⊱⊷⋇⋇⊶⊰♛⊱⊷⋇ ⋇⊶⊰♛⊱⊷⋇symfony-project 🛸⋇⊶⊰♛⊱⊷⋇ ⋇⊶⊰♛⊱⊷⋇⋇⊶⊰♛⊱⊷⋇ ⋇⊶⊰♛⊱⊷⋇</p>
  </div>
   <navbar>
            <ul>
            <li>
          <a ><img src="{{asset('/img/92183-okaymaid.gif')}}" width="50" ></a>
        </li>
               
        <li>
          <a  aria-current="page" href="{{path('app_about')}}">A propos</a>
        </li>
 
        <li >
          <a  aria-current="page" href="{{path('app_login')}}">Connexion</a>
        </li>
 
         <li>
          <a  aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
 
         <li>
          <a  aria-current="page" href="{{path('app_register')}}">Inscription</a>
        </li>
          
      </ul>
        </navbar>

